.avatarImage {
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.characterAvatars {
	padding: 5px;
	display: flex;
	justify-content: space-evenly;
}

.originalQuestion {
	color: white;
	padding: 10px;
	border: 2px solid black;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	margin-bottom: 9px;
}

.inputNameField, .primaryChar, .globalChar, .fileUploadField {
	text-align: center;
	padding: 5px 0;
}

.answerFields {
    position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
    padding: 10px;
    background-color: #a0bbff;
    width: 30%;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 3px double #353535;
	border-radius: 10px;
	text-align: center;
}