.nameInputField, .questionInputField, .characterSelectField {
	text-align: center;
}

textarea {
	resize: none;
	font-size: larger;
}

.askQuestionButton {
	margin-left: 50%;
}

.home_initialAnswers {
    position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
    padding: 10px;
    background-color: #a0bbff;
    width: 50%;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 3px double #353535;
	border-radius: 10px;
	text-align: center;
}

a {
	color: white
};

a:hover {
	color:red
}

a:visited {
	color: darkslateblue;
}