header {
    background-color: rgba(0, 0, 0, .8);
    border: 3px solid #ffffff;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 5px;
    width: 80%;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.logo {
    background-image: url("../../images/logo.png");
    width: 300px;
    height: 136px;
    margin-left: 40%
}

a:visited {
    color: white
}